.bg-theme{
  background-color: #736af5;
}
.cart-icon{
  font-size: 2rem;
}
.hero-background{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-background{
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.team-mem{
  width: auto;
  height: 62%;
}